*{
    padding: 0;
    margin: 0;

}
.outerContainer{
    background-color: pink;
    position: relative;
    width: 100vw;
    height: 100vh;

}
.container{
    width: 50vw;
    height: 80vh;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    box-shadow: 0 0 10px 3px #5c5c5c;
}
.player-0{
    width: 50%;
    height: 100%;
    background-color: #7cf197;
}
.player-1{
    width: 50%;
    height: 100%;
    background-color: #7cf197;
}
.newGame{
    position: absolute;
    top: 5%;
    left: 40%;
    font-size: 3vmin;
    letter-spacing: 1px;
    color: #535353;
    z-index: 1;
    font-weight: 500;
    transition: all .3s;
    cursor: pointer;
}
.newGame:hover{
    transform: scale(1.2);
}
.dice{
    position: absolute;
    top: 35%;
    left: 46%;
    font-size: 10vmin;
    letter-spacing: 1px;
    color: #183e44;
    z-index: 1;
    font-weight: 500;
    transition: all .3s;
}
.fa-plus-circle{
    color: #ff4141;
    margin-right: 1vw;
}
.fa-circle{
    position: absolute;
    right: 4vmin;
    top: 20vmin;
    color: red;
    font-size: 2vmin;
}
.playerDiv{
    position: relative;
}
.playerName{
    font-size: 4vw;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-top: 15vmin;
    text-align: center;
}
.playerTotalScore{
    font-size: 5vmin;
    color: red;
    text-shadow: 1px 1px 2px #a1a1a1;
    margin-top: 5vmin;
    text-align: center;
}
.currentScore{
    font-size: 5vmin;
    color: white;
    background-color: red;
    text-shadow: 1px 1px 2px #a1a1a1;
    width: 30%;
    height: 15%;
    margin: 15vmin auto 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1vmin;
    position: relative;
}
.currentText{
    position: absolute;
    font-size: 2.5vmin;
    top: 1vmin;
}
.refresh{
    position: absolute;
    bottom: 25%;
    left: 40%;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: #535353;
    z-index: 1;
    font-weight: 500;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    outline: none;

}
.refresh:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.fa-refresh{
    color: red;
}
.fa-arrow-circle-down{
    color: red;
}
.hold{
    position: absolute;
    bottom:15%;
    left: 43%;
    font-size: 1.5vw;
    letter-spacing: 1px;
    color: #535353;
    z-index: 1;
    font-weight: 500;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    outline: none;
}
.hold:hover{
    transform: scale(1.2);
    cursor: pointer;
}